<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Welcome</h1>

<form method="post" th:action="@{/greeting}">
  <label for="name">Name:</label>
  <input id="name" autofocus name="name" placeholder="Name" required type="text"/>
  <br/>
  <label for="duties">Meine Aufgaben bei der <strong>VHV</strong>:</label>
  <textarea id="duties" name="duties" placeholder="duties" required rows="5" cols="50"></textarea>
  <br/>
  <button type="submit">
    Submit
  </button>
</form>


</body>
</html>